<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!--
    redirect로 넘어감
    param = 쿼리 파라미터(Model에 안 넣어줘도 기본 옵션)
     -->
<div th:if="${param.status}">
  <script type="text/javascript">
    alert("삭제 완료");
  </script>
</div>
<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2>상품 목록</h2>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end"
              onclick="location.href='addForm.html'"
              th:onclick="|location.href='@{/basic/items/add}'|"
              type="button">상품등록
      </button>
      <button class="btn btn-danger"
              th:onclick="|location.href='@{/basic/items/delete}'|"
              type="button">상품삭제
      </button>
    </div>
  </div>
  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>상품명</th>
        <th>가격</th>
        <th>수량</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item: ${items}">
        <td><a href="items.html" th:href="@{/basic/items/{itemId}(itemId=${item.getId()})}" th:text="${item.getId()}">회원id</a></td>
        <td><a href="items.html" th:href="@{|/basic/items/${item.getId()}|}" th:text="${item.getItemName()}">상품명</a></td>
        <td th:text="${item.getPrice()}">10000</td>
        <td th:text="${item.getQuantity()}">10</td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>